@import '../../styles/variables';

/* NAVIGATION START*/

.top-nav {
    padding: 10px 25px;
    background: $light-grey;

    a {
        color: $text-light-black;
        text-decoration: none;
        margin: 0 20px 0 0;
    }
}