@import '../../variables';


.toolbar {
    box-sizing: border-box;
    padding: 30px;
    float: left;
    width: 100%;

    button {
        padding: 3px;
    }

    //message button
    .message-icon{
        position: relative;
    }

    .message-icon:before {
        background-image: url('/img/sprite.svg');
        @include icon(25px, 17px, 0, -22px);
    }

    .message-icon:after {
        position: absolute;
        top: 0;
        right: 0;
        height: 13px;
        width: 13px;
        content: "1";
        background: $bright-accent;
        border-radius: 50%;
        @include font(.65rem, 400, $text-bright-white);
    }
    
    //user button
    .user-icon{
        float: right;
    }

    .user-icon:before {
        background-image: url('/img/sprite.svg');
        @include icon(18px, 18px, 0, -64px);
    }
}
